{{>header}}

<div class="container">
  <div class="col-sm-offset-3 col-sm-7">
    <div class="row">
    
      <h3 id="resultsTitle"> Resultado de tu Simulación</h3>
      <span>Seleccioná la financiación que mejor se adapte a tus necesidades</span><br><br>

      <div class="panel panel-info" hidden> 
        <div class="panel-heading"> 
          <h3 class="panel-title">Disculpas, no pudimos hayar financiaciones disponibles</h3> 
           
        </div>
         <div class="panel-body"> 
           <h4>¿Querés volver a simular?</h4>
            <a class="btn btn-block btn-success" href="/{{brand.slug}}/home/info">Re-Simular</a>
            </div>
      </div>

      {{#each financial_instruments}}
      <table class="table ifOptions  " id="{{type}}" hidden>
        <thead>
          <tr>
            <th colspan="2">{{niceName}}</th>
            <th class="text-right">
              <img src="/assets/img/{{type}}.png"> </th>
          </tr>
        </thead>
        <tbody>
          <tr class="description" hidden>
            <td>
              <ul>
                {{#each description}}

                <li>{{this}}</li>

                {{/each}}
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      {{/each}}


    </div>
  </div>

</div>


{{>footer}}




<script>

callLeads();
 var vehicleBlock    = JSON.parse(localStorage.getItem("vehicleBlock"));


  dataLayer.push({
    'event':'ThankYouPage',
    'marca': vehicleBlock.vehicle.make.name,
    'modelo': vehicleBlock.vehicle.model.name,
    'eventCategory': 'page',
    'eventAction': 'success',
    'eventLabel': window.location.href.split("?")[0],
    'eventValue': parseInt(vehicleBlock.vehicle.trim.price)
    });

  var responseIF = JSON.parse(localStorage.getItem('IFS'));


  var test = "{{prueba.valor}}";

  var amount_to_finance = localStorage.getItem('amountToFinance');

  
   var qtyResults = 0;

  $.each(responseIF.data.financial_instruments, function (index, va) {
    var htmlBlock = '';


    var IFtype = va.type;

    // htmlBlock  = "<tr><td>Monto a Financiar</td><td>"+formatPrice(amount_to_finance)+"</td></tr>";


     console.log(va.results.length);


    if(va.results.length != 0){
         qtyResults = va.results.length;
    }

    $.each(va.results, function (i, v) {


      var tna = v.payment.brief.interest_rate || 0;
      var cft = v.payment.brief.financing_cost_rate || 0;

      htmlBlock += "<tr><td>" + v.creditor + " - " + v.payment.brief.outstanding_fees + " Cuotas de </td>";
      htmlBlock += "<td class='text-right'>" + formatPrice(v.payment.average) + "</td>";
      htmlBlock += "<td class='text-center'><input class='IFSelect' type='radio' data-fee='" + v.payment.average + "' name='IF' data-type='" + IFtype + "' data-ifid='" + v._id + "' id='IF'></td></tr>";


      htmlBlock += "<tr class='detail' hidden>";
      htmlBlock += "<td colspan='2'>";
      htmlBlock += "<table class='table table-striped' style='margin-left:10%' >";
      htmlBlock += "<thead><tr><td colspan='2'> <button type='button' class='btn btn-info btn-block submitIF'>Seleccionar Financiación</button> </td><tr></thead>";
      htmlBlock += "<tr><td colspan='2'><b>DETALLE DE CUOTAS</b></td></tr>";

      var totalFees = v.payment.fees.length;


      $.each(v.payment.fees, function (k, val) {

        htmlBlock += "<tr";
        if (k > 4) {


          htmlBlock += " hidden class='oculto'";
        }
        htmlBlock += "><td>CUOTA " + val.from;
        if (val.from != val.to) {
          htmlBlock += " a " + val.to;
        }

        htmlBlock += "</td>";



        htmlBlock += "<td class='text-center'>" + formatPrice(val.value) + "</td></tr>";



      });

      if (totalFees > 5) {
        htmlBlock += "<tr class='showTr'><td colspan='3'><a class='viewDetail'>Ver todas las cuotas</a></td></tr>";
        htmlBlock += "<tr hidden class='hideTr'><td colspan='3'><a class='hideDetail'>Ver menos cuotas</a></td></tr>";
      }
      htmlBlock += "<tr class='detailFees'><td colspan='3' class='taxes'><b>T.N.A. " + tna + "% <br> C.F.T. " + cft + "%<b></td></tr>";
      htmlBlock += "</table>";
      htmlBlock += "<td></tr>";


    })



    $(htmlBlock).insertBefore("#" + IFtype + " .description");


    if(qtyResults == 0){

      $('#resultsTitle').hide();
      $('.panel-info').show();




    }


  })

  $.each(responseIF.data.preview.financial_instruments, function (i, v) {

    if (v.quantity > 0) {

      console.log(v.type);
      $('#' + v.type).fadeIn('slow');
    }


  })


  var IFselected;
  var Fee;
  var selectType;

  $('.IFSelect').change(function () {

    IFselected = $(this).data('ifid');
    Fee = $(this).data('fee');
    selectType = $(this).data('type');



    $('.detail').hide();
    $(this).parent().parent().next().slideToggle('slow');
    goToByScroll('#' + selectType);
    $('.viewDetail').click(function () {

      $(this).parent().parent().parent().find('.oculto').show();
      $(this).parent().parent().parent().find('.showTr').hide();
      $(this).parent().parent().parent().find('.hideTr').show();

    });

    $('.hideDetail').click(function () {

      console.log('zarza');

      $(this).parent().parent().parent().find('.hideTr').hide();
      $(this).parent().parent().parent().find('.oculto').hide();
      $(this).parent().parent().parent().find('.showTr').show();
      goToByScroll('#' + selectType);

    })

    $('.submitIF').click(function () {

      goToByScroll('.loader-container');
      $('.loader-container').fadeIn();

      callNMF(Fee, IFselected, selectType);

    })

  });

</script>
</body>
</html>